

.brand-font {
  /*font-family: 'Unica One', cursive;*/
  font-family: 'Love Ya Like A Sister', curs2ve, sans-serif;
  line-height: 1.5em;
  font-size: 2em;
  /*font-family: 'Titan One', cursive;*/
  /*font-family: 'Lilita One', cursive;*/
  /*font-family: 'Chelsea Market', cursive;*/
}

.logo-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#logo img {
    height: 100px;
    text-align: center;
}

#gif-party img {
  height: 125px;
  padding: 8px;
  margin: 3px;
  border: 2px solid grey;
}

button {
  height: 30px;
  font-size: 1em;
  margin: 2px;
  background-color: white;
  color: #333333;
}
